/.vs/SharpCRUD
/Frontend/obj/Debug/net6.0
/Frontend/obj
/RestAPI/obj
/Domain/obj
/SharpCRUD.Domain/obj
/SharpCRUD.Shared/obj
/.vs/ProjectEvaluation
/SharpCRUD.DataAccess/obj
/SharpCRUD.DataAcess.Tests/obj
/SharpCRUD.Domain.Models/obj
/SharpCRUD.DataAccess/bin/Debug/net6.0
/SharpCRUD.DataAcess.Tests/bin/Debug/net6.0
/SharpCRUD.Domain/bin/Debug/net6.0
/SharpCRUD.RestAPI/obj
/SharpCRUD.Testing.Shared/bin/Debug/net6.0
/SharpCRUD.Testing.Shared/obj
/SharpCRUD.RestAPI/appsettings.Development.json
